:root {
  --color-home: #04F1F8;
  --color-solar: #FFCD00;
  --color-grid: #fff;
  --color-battery: #32D74B;
}

/* ==========================================================================
   Base styles
   ========================================================================== */

 html, body {
		  background-color: #ccc;
		  height: 100%;
		  font-family: sans-serif;
		  color: #fff;
		  
		  }
	  .wrapper {
		  background-color: #000;
		  max-width: 343px;
		  margin: 0 auto;
		  padding: 16px;
		  padding-bottom: 800px;
		  height: 5000px;
	  }
	  h2 {
		  font-size: 18px;
		  font-weight: 300;
		  margin-bottom: 16px;
	  }
	h3 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	padding: 8px 0;
	margin-bottom: 16px;
}

/* ==========================================================================
   Time toggle
   ========================================================================== */
.timeToggle {
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.16);
	border-radius: 8px;
	margin-bottom: 16px;
}
.timeToggle p {
	border-radius: 8px;
	padding: 8px;
	text-align: center;
	width: 33%;
	color: rgba(255,255,255,1);
	margin: 0;
	font-size: 14px;
	line-height: 21px;
}
.timeToggle p:hover {
	cursor: pointer;
	opacity: 0.5;
}
.timeToggle p.active {
	background-color: rgba(255,255,255,0.40);	
}

/* ==========================================================================
  Pie chart
   ========================================================================== */




.piechart-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -50px;
}
.piechart-wrapper h3 {
	width: 100%;
}
.piechart-wrapper div{
	width: 50%:
}
.piechart-wrapper .values {
	margin-left: 32px;
}
.piechart-wrapper .values  .values-line {
	margin-bottom: 12px;
	display: flex;
	align-items:center;
}
.piechart-center .icon,
.values-line .icon {
	height: 24px;
	width: 24px;
	background-size: cover;
	margin-right: 18px;
}
.piechart-wrapper .values .per-wrapper {
	font-size: 17px;
}

.piechart-wrapper .values .val-wrapper {
	font-size: 12px;
}
.piechart-wrapper .values .sum-label {
	font-size: 13px;
	display: block;
}


h3.solar,
.piechart-wrapper .values .solar .sum-label {
	color: var(--color-solar);
}
h3.battery,
.piechart-wrapper .values .battery .sum-label {
	color: var(--color-battery);
}
h3.grid,
.piechart-wrapper .values .grid .sum-label {
	color: var(--color-grid);
}
h3.home,
.piechart-wrapper .values .home .sum-label {
	color: var(--color-home);
}
.piechart-center.solar .icon,
.values-line.solar .icon {
	background-image: url('../img/icon-solar.svg');
}
.piechart-center.grid .icon,
.values-line.grid .icon {
	background-image: url('../img/icon-grid.svg');
}
.piechart-center.battery .icon,
.values-line.battery .icon {
	background-image: url('../img/icon-battery.svg');
}
.piechart-center.home .icon,
.values-line.home .icon {
	background-image: url('../img/icon-home.svg');
}

#homePieChart .chart-item-0 {
	stroke: var(--color-solar);
}
#homePieChart .chart-item-1 {
	stroke: var(--color-battery);
}
#homePieChart .chart-item-2 {
	stroke: var(--color-grid);
}

#solarPieChart .chart-item-0 {
	stroke: var(--color-home);
}
#solarPieChart .chart-item-1 {
	stroke: var(--color-battery);
}
#solarPieChart .chart-item-2 {
	stroke: var(--color-grid);
}

#batteryPieChart .chart-item-0 {
	stroke: var(--color-home);
}
#batteryPieChart .chart-item-1 {
	stroke: var(--color-grid);
}
#gridPieChart .chart-item-0 {
	stroke: var(--color-home);
}
#gridPieChart .chart-item-1 {
	stroke: var(--color-battery);
}


.piechart-center {
	width: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	top: -105px;
}
.piechart-center .val {
	width: 100%;
	font-size: 12px;
}
.piechart-center .icon {
	margin: 0 0 8px 0;
}

/* ==========================================================================
	Tool tips
   ========================================================================== */
	  #chartjs-tooltip {
		  font-size: 12px;
		  width: 100%;
		  height: 40px;
		  text-align: center;
	  }
	  #chartjs-tooltip-key-placeholder {
		   width: 100%;
		   height: 40px;  
	  }
	  .chartjs-tooltip-key {
		  margin-left: 16px;
	  }
	  
.x-axis-day {
	display: flex;
	justify-content: space-between;
	padding-left: 22px;
	height: 12px
}
.x-axis-day p {
	font-size: 12px;
	line-height: 12px;
	color: #666;
	text-align: left;
	margin: 0;
	
}
.bar-chart .x-axis-day p {
	text-align: center;
	width: 45px;
}

/* ==========================================================================
	Chart toggles
   ========================================================================== */
.asset-toggle-wrapper {
	margin-bottom: 16px;
}
.asset-toggle {
	background: none;
	border: none;
	background-size: cover;
	height: 36px;
	width: 36px;
	margin-right: 8px;
}
.asset-toggle:hover {
	opacity: 0.5;
	cursor: pointer;
}
#removeHome {
	background-image: url('../img/icon-home-active.svg');
}
#addHome {
	background-image: url('../img/icon-home-inactive.svg');
}
#removeSolar {
	background-image: url('../img/icon-solar-active.svg');
}
#addSolar {
	background-image: url('../img/icon-solar-inactive.svg');
}
#removeBattery {
	background-image: url('../img/icon-battery-active.svg');
}
#addBattery {
	background-image: url('../img/icon-battery-inactive.svg');
}
#removeGrid {
	background-image: url('../img/icon-grid-active.svg');
}
#addGrid {
	background-image: url('../img/icon-grid-inactive.svg');
}
/* ==========================================================================
	Legend
   ========================================================================== */
   
[class="0-legend"] {
  cursor: pointer;
  list-style: none;
  padding-left: 0;
}
[class="0-legend"] li {
  display: inline-block;
  padding: 0 5px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
[class="0-legend"] li.hidden {
  text-decoration: line-through;
}
[class="0-legend"] li span {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
} 
[class="0-legend"] .notshown {
	opacity: 0.5;
}
[class="0-legend"] li:hover {
	opacity: 0.5;
}

[class="0-legend"] li span {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	text-align: center;
	line-height: 48px;
}


[class="0-legend"] li:nth-of-type(1) span {
	background-color: rgba(255, 200, 0, 1)!important;
	color: black;
}
[class="0-legend"] li:nth-of-type(2) span {
	background-color: rgba(68, 255, 145, 1)!important;
	color: black;
}
[class="0-legend"] li:nth-of-type(3) span {
	background-color: rgba(255, 255, 255, 1)!important;
	color: black;
}


[class="0-legend"] li:nth-of-type(1) span:before {
	content: 'S';
}
[class="0-legend"] li:nth-of-type(2) span:before {
	content: 'B';
}
[class="0-legend"] li:nth-of-type(3) span:before {
	content: 'G';
}
